---
layout: default
title: Home
comments: false

---

{% include hero.html %}

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>



<!--
<div class="blog-grid-container">
   
    <a href="{{ site.blogurl }}" class="btn btn-dark"> Read the Blogs &rarr;</a> 
</div>
--->

