.article {
  margin-bottom: 40px;

  .article__wrapper {
    display: flex;
    flex-wrap: wrap;
    /* Add flex-wrap to ensure content wraps on smaller screens */
    align-items: center;
  }

  .article__image {
    width: 50%;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $light-gray;
    position: relative;
    /* Add relative positioning to the image container */
    overflow: hidden;
    /* Hide overflow to prevent images from overflowing on mobile */

    &:hover {
      opacity: 0.9;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 56.25%;
    }
  }

  .article__content {
    width: 50%;
    /* Adjust the width to make room for text content */
    padding: 20px;
    /* Adjust padding for mobile */
    z-index: 1;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

    .article__tag {
      font-size: 12px;
      letter-spacing: 0.5px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .article__title {
      margin-bottom: 10px;
      /* Reduce margin for mobile */
      font-size: 20px;
      /* Adjust font size for mobile */

      a {
        color: $dark;

        &:hover {
          color: $black;
        }
      }
    }

    .article__excerpt {
      font-size: 16px;
      line-height: 26px;
    }

    .article__meta {
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: $gray;
    }

    .article__footer {
      display: flex;
      align-items: center;

      .read-more {
        margin-left: auto;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        color: $gray;

        &:hover {
          color: $dark;
          border-color: $brand-color;
        }
      }
    }
  }

  .article-without-image {
    width: 100%;
    margin-left: auto;
  }

  @media only screen and (max-width: $tablet) {
    .article__wrapper {
      flex-direction: column;
    }

    .article__image {
      width: 100%;

      &:after {
        padding-bottom: 56.25%; // You can adjust this aspect ratio if needed
      }
    }

    .article__content {
      width: 100%;
      /* Take up the full width on smaller screens */
      padding: 20px;
    }

    .article-without-image {
      width: 100%;
      margin: 0;
    }
  }

  @media only screen and (max-width: $mobile) {
    .article__content {
      .article__title {
        font-size: 18px;
        /* Adjust font size for smaller screens */
      }
    }

    .article__image {
      &:after {
        padding-bottom: 56.25%; // Adjust this aspect ratio for mobile if needed
      }
    }
  }
}