---
layout: default
title: Home

---



<!-- Posts Index
================================================== -->

<div class="blog-grid-container">
<!-- Featured
================================================== -->


    
        <div class="section-title">
            <h2><span>Featured Posts</span></h2>
        </div>
       
    
        {% for post in site.posts %}
    
            {% if post.featured == true %}
    
                {% include featuredbox.html %}
    
            {% endif %}
    
        {% endfor %}

  
        <div class="section-title">
            <h2><span>All Posts</span></h2>
        </div>
        
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

